#competitive-programming-header {
    background-color: black;
    position: relative;
}

div#numbers {
    h1 {
        color: var(--acm-hacker);
        margin-bottom: 0px;
        font-family: 'Karma', sans-serif;
    }
    .col {
        padding: 0;
    }
}